@charset "UTF-8";
/*-------------------ハンバーガー-------------------*/
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  width: 84px;
  height: 84px;
  margin: -45px 0 0 -45px;
  border-radius: 50%;
  border: 4px solid transparent;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: active-menu-bar02 0.8s forwards;
  animation: active-menu-bar02 0.8s forwards;
}

@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}

@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}

/*----------ベース----------*/
body {
  margin: 0;
}

a {
  text-decoration: none;
}

/*----------レイアウト----------*/
#ly_opening {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: lightyellow;
}

#home {
  display: none;
  height: 100%;
}

#ly_header {
  z-index: 1;
  position: fixed;
  height: 10vh;
  width: 90%;
  padding: 0 5%;
  background-color: black;
}

/*----------モジュール----------*/
.op_text {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 300px;
  left: calc(50% - 160px);
  height: calc(100% - 600px);
}

.op_text div {
  font-size: 60px;
  font-weight: 1000;
  color: black;
  margin: 0 10px;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.op_text div:nth-child(1) {
  -webkit-animation: text_down 0.5s ease 0s forwards;
          animation: text_down 0.5s ease 0s forwards;
}

.op_text div:nth-child(2) {
  -webkit-animation: text_down 0.5s ease 0.5s forwards;
          animation: text_down 0.5s ease 0.5s forwards;
}

.op_text div:nth-child(3) {
  -webkit-animation: text_down 0.5s ease 1s forwards;
          animation: text_down 0.5s ease 1s forwards;
}

.op_text div:nth-child(4) {
  -webkit-animation: text_down 0.5s ease 1.5s forwards;
          animation: text_down 0.5s ease 1.5s forwards;
}

.op_text div:nth-child(5) {
  -webkit-animation: text_down 0.5s ease 2s forwards;
          animation: text_down 0.5s ease 2s forwards;
}

@-webkit-keyframes text_down {
  90% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes text_down {
  90% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

#matrix_anime {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.matrix_row0 {
  position: absolute;
  top: 50px;
  left: 50px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row1 {
  position: absolute;
  top: 50px;
  left: 110px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row2 {
  position: absolute;
  top: 50px;
  left: 170px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row3 {
  position: absolute;
  top: 50px;
  left: 230px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row4 {
  position: absolute;
  top: 50px;
  left: 290px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row5 {
  position: absolute;
  top: 50px;
  left: 350px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row6 {
  position: absolute;
  top: 50px;
  left: 410px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row7 {
  position: absolute;
  top: 50px;
  left: 470px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row8 {
  position: absolute;
  top: 50px;
  left: 530px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row9 {
  position: absolute;
  top: 50px;
  left: 590px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row10 {
  position: absolute;
  top: 50px;
  left: 650px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row11 {
  position: absolute;
  top: 50px;
  left: 710px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row12 {
  position: absolute;
  top: 50px;
  left: 770px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row13 {
  position: absolute;
  top: 50px;
  left: 830px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row14 {
  position: absolute;
  top: 50px;
  left: 890px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row15 {
  position: absolute;
  top: 50px;
  left: 950px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row16 {
  position: absolute;
  top: 50px;
  left: 1010px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row17 {
  position: absolute;
  top: 50px;
  left: 1070px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row18 {
  position: absolute;
  top: 50px;
  left: 1130px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row19 {
  position: absolute;
  top: 50px;
  left: 1190px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_row20 {
  position: absolute;
  top: 50px;
  left: 1250px;
  height: calc(100% - 150px);
  width: 50px;
}

.matrix_line00 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.5s forwards;
          animation: line_in 0s linear 2.5s forwards;
}

.matrix_line01 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.49s forwards;
          animation: line_in 0s linear 2.49s forwards;
}

.matrix_line02 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.48s forwards;
          animation: line_in 0s linear 2.48s forwards;
}

.matrix_line03 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.47s forwards;
          animation: line_in 0s linear 2.47s forwards;
}

.matrix_line04 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.46s forwards;
          animation: line_in 0s linear 2.46s forwards;
}

.matrix_line05 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.45s forwards;
          animation: line_in 0s linear 2.45s forwards;
}

.matrix_line06 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.44s forwards;
          animation: line_in 0s linear 2.44s forwards;
}

.matrix_line07 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.43s forwards;
          animation: line_in 0s linear 2.43s forwards;
}

.matrix_line08 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.42s forwards;
          animation: line_in 0s linear 2.42s forwards;
}

.matrix_line09 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.41s forwards;
          animation: line_in 0s linear 2.41s forwards;
}

.matrix_line10 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.49s forwards;
          animation: line_in 0s linear 2.49s forwards;
}

.matrix_line11 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.48s forwards;
          animation: line_in 0s linear 2.48s forwards;
}

.matrix_line12 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.47s forwards;
          animation: line_in 0s linear 2.47s forwards;
}

.matrix_line13 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.46s forwards;
          animation: line_in 0s linear 2.46s forwards;
}

.matrix_line14 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.45s forwards;
          animation: line_in 0s linear 2.45s forwards;
}

.matrix_line15 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.44s forwards;
          animation: line_in 0s linear 2.44s forwards;
}

.matrix_line16 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.43s forwards;
          animation: line_in 0s linear 2.43s forwards;
}

.matrix_line17 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.42s forwards;
          animation: line_in 0s linear 2.42s forwards;
}

.matrix_line18 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.41s forwards;
          animation: line_in 0s linear 2.41s forwards;
}

.matrix_line19 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.4s forwards;
          animation: line_in 0s linear 2.4s forwards;
}

.matrix_line20 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.48s forwards;
          animation: line_in 0s linear 2.48s forwards;
}

.matrix_line21 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.47s forwards;
          animation: line_in 0s linear 2.47s forwards;
}

.matrix_line22 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.46s forwards;
          animation: line_in 0s linear 2.46s forwards;
}

.matrix_line23 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.45s forwards;
          animation: line_in 0s linear 2.45s forwards;
}

.matrix_line24 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.44s forwards;
          animation: line_in 0s linear 2.44s forwards;
}

.matrix_line25 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.43s forwards;
          animation: line_in 0s linear 2.43s forwards;
}

.matrix_line26 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.42s forwards;
          animation: line_in 0s linear 2.42s forwards;
}

.matrix_line27 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.41s forwards;
          animation: line_in 0s linear 2.41s forwards;
}

.matrix_line28 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.4s forwards;
          animation: line_in 0s linear 2.4s forwards;
}

.matrix_line29 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.39s forwards;
          animation: line_in 0s linear 2.39s forwards;
}

.matrix_line30 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.47s forwards;
          animation: line_in 0s linear 2.47s forwards;
}

.matrix_line31 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.46s forwards;
          animation: line_in 0s linear 2.46s forwards;
}

.matrix_line32 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.45s forwards;
          animation: line_in 0s linear 2.45s forwards;
}

.matrix_line33 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.44s forwards;
          animation: line_in 0s linear 2.44s forwards;
}

.matrix_line34 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.43s forwards;
          animation: line_in 0s linear 2.43s forwards;
}

.matrix_line35 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.42s forwards;
          animation: line_in 0s linear 2.42s forwards;
}

.matrix_line36 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.41s forwards;
          animation: line_in 0s linear 2.41s forwards;
}

.matrix_line37 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.4s forwards;
          animation: line_in 0s linear 2.4s forwards;
}

.matrix_line38 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.39s forwards;
          animation: line_in 0s linear 2.39s forwards;
}

.matrix_line39 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.38s forwards;
          animation: line_in 0s linear 2.38s forwards;
}

.matrix_line40 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.46s forwards;
          animation: line_in 0s linear 2.46s forwards;
}

.matrix_line41 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.45s forwards;
          animation: line_in 0s linear 2.45s forwards;
}

.matrix_line42 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.44s forwards;
          animation: line_in 0s linear 2.44s forwards;
}

.matrix_line43 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.43s forwards;
          animation: line_in 0s linear 2.43s forwards;
}

.matrix_line44 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.42s forwards;
          animation: line_in 0s linear 2.42s forwards;
}

.matrix_line45 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.41s forwards;
          animation: line_in 0s linear 2.41s forwards;
}

.matrix_line46 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.4s forwards;
          animation: line_in 0s linear 2.4s forwards;
}

.matrix_line47 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.39s forwards;
          animation: line_in 0s linear 2.39s forwards;
}

.matrix_line48 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.38s forwards;
          animation: line_in 0s linear 2.38s forwards;
}

.matrix_line49 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.37s forwards;
          animation: line_in 0s linear 2.37s forwards;
}

.matrix_line50 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.45s forwards;
          animation: line_in 0s linear 2.45s forwards;
}

.matrix_line51 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.44s forwards;
          animation: line_in 0s linear 2.44s forwards;
}

.matrix_line52 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.43s forwards;
          animation: line_in 0s linear 2.43s forwards;
}

.matrix_line53 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.42s forwards;
          animation: line_in 0s linear 2.42s forwards;
}

.matrix_line54 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.41s forwards;
          animation: line_in 0s linear 2.41s forwards;
}

.matrix_line55 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.4s forwards;
          animation: line_in 0s linear 2.4s forwards;
}

.matrix_line56 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.39s forwards;
          animation: line_in 0s linear 2.39s forwards;
}

.matrix_line57 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.38s forwards;
          animation: line_in 0s linear 2.38s forwards;
}

.matrix_line58 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.37s forwards;
          animation: line_in 0s linear 2.37s forwards;
}

.matrix_line59 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.36s forwards;
          animation: line_in 0s linear 2.36s forwards;
}

.matrix_line60 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.44s forwards;
          animation: line_in 0s linear 2.44s forwards;
}

.matrix_line61 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.43s forwards;
          animation: line_in 0s linear 2.43s forwards;
}

.matrix_line62 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.42s forwards;
          animation: line_in 0s linear 2.42s forwards;
}

.matrix_line63 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.41s forwards;
          animation: line_in 0s linear 2.41s forwards;
}

.matrix_line64 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.4s forwards;
          animation: line_in 0s linear 2.4s forwards;
}

.matrix_line65 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.39s forwards;
          animation: line_in 0s linear 2.39s forwards;
}

.matrix_line66 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.38s forwards;
          animation: line_in 0s linear 2.38s forwards;
}

.matrix_line67 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.37s forwards;
          animation: line_in 0s linear 2.37s forwards;
}

.matrix_line68 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.36s forwards;
          animation: line_in 0s linear 2.36s forwards;
}

.matrix_line69 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.35s forwards;
          animation: line_in 0s linear 2.35s forwards;
}

.matrix_line70 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.43s forwards;
          animation: line_in 0s linear 2.43s forwards;
}

.matrix_line71 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.42s forwards;
          animation: line_in 0s linear 2.42s forwards;
}

.matrix_line72 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.41s forwards;
          animation: line_in 0s linear 2.41s forwards;
}

.matrix_line73 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.4s forwards;
          animation: line_in 0s linear 2.4s forwards;
}

.matrix_line74 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.39s forwards;
          animation: line_in 0s linear 2.39s forwards;
}

.matrix_line75 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.38s forwards;
          animation: line_in 0s linear 2.38s forwards;
}

.matrix_line76 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.37s forwards;
          animation: line_in 0s linear 2.37s forwards;
}

.matrix_line77 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.36s forwards;
          animation: line_in 0s linear 2.36s forwards;
}

.matrix_line78 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.35s forwards;
          animation: line_in 0s linear 2.35s forwards;
}

.matrix_line79 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.34s forwards;
          animation: line_in 0s linear 2.34s forwards;
}

.matrix_line80 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.42s forwards;
          animation: line_in 0s linear 2.42s forwards;
}

.matrix_line81 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.41s forwards;
          animation: line_in 0s linear 2.41s forwards;
}

.matrix_line82 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.4s forwards;
          animation: line_in 0s linear 2.4s forwards;
}

.matrix_line83 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.39s forwards;
          animation: line_in 0s linear 2.39s forwards;
}

.matrix_line84 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.38s forwards;
          animation: line_in 0s linear 2.38s forwards;
}

.matrix_line85 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.37s forwards;
          animation: line_in 0s linear 2.37s forwards;
}

.matrix_line86 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.36s forwards;
          animation: line_in 0s linear 2.36s forwards;
}

.matrix_line87 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.35s forwards;
          animation: line_in 0s linear 2.35s forwards;
}

.matrix_line88 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.34s forwards;
          animation: line_in 0s linear 2.34s forwards;
}

.matrix_line89 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.33s forwards;
          animation: line_in 0s linear 2.33s forwards;
}

.matrix_line90 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.41s forwards;
          animation: line_in 0s linear 2.41s forwards;
}

.matrix_line91 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.4s forwards;
          animation: line_in 0s linear 2.4s forwards;
}

.matrix_line92 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.39s forwards;
          animation: line_in 0s linear 2.39s forwards;
}

.matrix_line93 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.38s forwards;
          animation: line_in 0s linear 2.38s forwards;
}

.matrix_line94 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.37s forwards;
          animation: line_in 0s linear 2.37s forwards;
}

.matrix_line95 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.36s forwards;
          animation: line_in 0s linear 2.36s forwards;
}

.matrix_line96 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.35s forwards;
          animation: line_in 0s linear 2.35s forwards;
}

.matrix_line97 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.34s forwards;
          animation: line_in 0s linear 2.34s forwards;
}

.matrix_line98 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.33s forwards;
          animation: line_in 0s linear 2.33s forwards;
}

.matrix_line99 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.32s forwards;
          animation: line_in 0s linear 2.32s forwards;
}

.matrix_line100 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.4s forwards;
          animation: line_in 0s linear 2.4s forwards;
}

.matrix_line101 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.39s forwards;
          animation: line_in 0s linear 2.39s forwards;
}

.matrix_line102 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.38s forwards;
          animation: line_in 0s linear 2.38s forwards;
}

.matrix_line103 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.37s forwards;
          animation: line_in 0s linear 2.37s forwards;
}

.matrix_line104 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.36s forwards;
          animation: line_in 0s linear 2.36s forwards;
}

.matrix_line105 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.35s forwards;
          animation: line_in 0s linear 2.35s forwards;
}

.matrix_line106 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.34s forwards;
          animation: line_in 0s linear 2.34s forwards;
}

.matrix_line107 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.33s forwards;
          animation: line_in 0s linear 2.33s forwards;
}

.matrix_line108 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.32s forwards;
          animation: line_in 0s linear 2.32s forwards;
}

.matrix_line109 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.31s forwards;
          animation: line_in 0s linear 2.31s forwards;
}

.matrix_line110 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.39s forwards;
          animation: line_in 0s linear 2.39s forwards;
}

.matrix_line111 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.38s forwards;
          animation: line_in 0s linear 2.38s forwards;
}

.matrix_line112 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.37s forwards;
          animation: line_in 0s linear 2.37s forwards;
}

.matrix_line113 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.36s forwards;
          animation: line_in 0s linear 2.36s forwards;
}

.matrix_line114 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.35s forwards;
          animation: line_in 0s linear 2.35s forwards;
}

.matrix_line115 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.34s forwards;
          animation: line_in 0s linear 2.34s forwards;
}

.matrix_line116 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.33s forwards;
          animation: line_in 0s linear 2.33s forwards;
}

.matrix_line117 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.32s forwards;
          animation: line_in 0s linear 2.32s forwards;
}

.matrix_line118 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.31s forwards;
          animation: line_in 0s linear 2.31s forwards;
}

.matrix_line119 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.3s forwards;
          animation: line_in 0s linear 2.3s forwards;
}

.matrix_line120 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.38s forwards;
          animation: line_in 0s linear 2.38s forwards;
}

.matrix_line121 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.37s forwards;
          animation: line_in 0s linear 2.37s forwards;
}

.matrix_line122 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.36s forwards;
          animation: line_in 0s linear 2.36s forwards;
}

.matrix_line123 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.35s forwards;
          animation: line_in 0s linear 2.35s forwards;
}

.matrix_line124 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.34s forwards;
          animation: line_in 0s linear 2.34s forwards;
}

.matrix_line125 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.33s forwards;
          animation: line_in 0s linear 2.33s forwards;
}

.matrix_line126 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.32s forwards;
          animation: line_in 0s linear 2.32s forwards;
}

.matrix_line127 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.31s forwards;
          animation: line_in 0s linear 2.31s forwards;
}

.matrix_line128 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.3s forwards;
          animation: line_in 0s linear 2.3s forwards;
}

.matrix_line129 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.29s forwards;
          animation: line_in 0s linear 2.29s forwards;
}

.matrix_line130 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.37s forwards;
          animation: line_in 0s linear 2.37s forwards;
}

.matrix_line131 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.36s forwards;
          animation: line_in 0s linear 2.36s forwards;
}

.matrix_line132 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.35s forwards;
          animation: line_in 0s linear 2.35s forwards;
}

.matrix_line133 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.34s forwards;
          animation: line_in 0s linear 2.34s forwards;
}

.matrix_line134 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.33s forwards;
          animation: line_in 0s linear 2.33s forwards;
}

.matrix_line135 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.32s forwards;
          animation: line_in 0s linear 2.32s forwards;
}

.matrix_line136 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.31s forwards;
          animation: line_in 0s linear 2.31s forwards;
}

.matrix_line137 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.3s forwards;
          animation: line_in 0s linear 2.3s forwards;
}

.matrix_line138 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.29s forwards;
          animation: line_in 0s linear 2.29s forwards;
}

.matrix_line139 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.28s forwards;
          animation: line_in 0s linear 2.28s forwards;
}

.matrix_line140 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.36s forwards;
          animation: line_in 0s linear 2.36s forwards;
}

.matrix_line141 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.35s forwards;
          animation: line_in 0s linear 2.35s forwards;
}

.matrix_line142 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.34s forwards;
          animation: line_in 0s linear 2.34s forwards;
}

.matrix_line143 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.33s forwards;
          animation: line_in 0s linear 2.33s forwards;
}

.matrix_line144 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.32s forwards;
          animation: line_in 0s linear 2.32s forwards;
}

.matrix_line145 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.31s forwards;
          animation: line_in 0s linear 2.31s forwards;
}

.matrix_line146 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.3s forwards;
          animation: line_in 0s linear 2.3s forwards;
}

.matrix_line147 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.29s forwards;
          animation: line_in 0s linear 2.29s forwards;
}

.matrix_line148 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.28s forwards;
          animation: line_in 0s linear 2.28s forwards;
}

.matrix_line149 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.27s forwards;
          animation: line_in 0s linear 2.27s forwards;
}

.matrix_line150 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.35s forwards;
          animation: line_in 0s linear 2.35s forwards;
}

.matrix_line151 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.34s forwards;
          animation: line_in 0s linear 2.34s forwards;
}

.matrix_line152 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.33s forwards;
          animation: line_in 0s linear 2.33s forwards;
}

.matrix_line153 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.32s forwards;
          animation: line_in 0s linear 2.32s forwards;
}

.matrix_line154 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.31s forwards;
          animation: line_in 0s linear 2.31s forwards;
}

.matrix_line155 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.3s forwards;
          animation: line_in 0s linear 2.3s forwards;
}

.matrix_line156 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.29s forwards;
          animation: line_in 0s linear 2.29s forwards;
}

.matrix_line157 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.28s forwards;
          animation: line_in 0s linear 2.28s forwards;
}

.matrix_line158 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.27s forwards;
          animation: line_in 0s linear 2.27s forwards;
}

.matrix_line159 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.26s forwards;
          animation: line_in 0s linear 2.26s forwards;
}

.matrix_line160 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.34s forwards;
          animation: line_in 0s linear 2.34s forwards;
}

.matrix_line161 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.33s forwards;
          animation: line_in 0s linear 2.33s forwards;
}

.matrix_line162 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.32s forwards;
          animation: line_in 0s linear 2.32s forwards;
}

.matrix_line163 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.31s forwards;
          animation: line_in 0s linear 2.31s forwards;
}

.matrix_line164 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.3s forwards;
          animation: line_in 0s linear 2.3s forwards;
}

.matrix_line165 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.29s forwards;
          animation: line_in 0s linear 2.29s forwards;
}

.matrix_line166 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.28s forwards;
          animation: line_in 0s linear 2.28s forwards;
}

.matrix_line167 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.27s forwards;
          animation: line_in 0s linear 2.27s forwards;
}

.matrix_line168 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.26s forwards;
          animation: line_in 0s linear 2.26s forwards;
}

.matrix_line169 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.25s forwards;
          animation: line_in 0s linear 2.25s forwards;
}

.matrix_line170 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.33s forwards;
          animation: line_in 0s linear 2.33s forwards;
}

.matrix_line171 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.32s forwards;
          animation: line_in 0s linear 2.32s forwards;
}

.matrix_line172 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.31s forwards;
          animation: line_in 0s linear 2.31s forwards;
}

.matrix_line173 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.3s forwards;
          animation: line_in 0s linear 2.3s forwards;
}

.matrix_line174 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.29s forwards;
          animation: line_in 0s linear 2.29s forwards;
}

.matrix_line175 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.28s forwards;
          animation: line_in 0s linear 2.28s forwards;
}

.matrix_line176 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.27s forwards;
          animation: line_in 0s linear 2.27s forwards;
}

.matrix_line177 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.26s forwards;
          animation: line_in 0s linear 2.26s forwards;
}

.matrix_line178 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.25s forwards;
          animation: line_in 0s linear 2.25s forwards;
}

.matrix_line179 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.24s forwards;
          animation: line_in 0s linear 2.24s forwards;
}

.matrix_line180 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.32s forwards;
          animation: line_in 0s linear 2.32s forwards;
}

.matrix_line181 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.31s forwards;
          animation: line_in 0s linear 2.31s forwards;
}

.matrix_line182 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.3s forwards;
          animation: line_in 0s linear 2.3s forwards;
}

.matrix_line183 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.29s forwards;
          animation: line_in 0s linear 2.29s forwards;
}

.matrix_line184 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.28s forwards;
          animation: line_in 0s linear 2.28s forwards;
}

.matrix_line185 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.27s forwards;
          animation: line_in 0s linear 2.27s forwards;
}

.matrix_line186 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.26s forwards;
          animation: line_in 0s linear 2.26s forwards;
}

.matrix_line187 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.25s forwards;
          animation: line_in 0s linear 2.25s forwards;
}

.matrix_line188 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.24s forwards;
          animation: line_in 0s linear 2.24s forwards;
}

.matrix_line189 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.23s forwards;
          animation: line_in 0s linear 2.23s forwards;
}

.matrix_line190 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.31s forwards;
          animation: line_in 0s linear 2.31s forwards;
}

.matrix_line191 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.3s forwards;
          animation: line_in 0s linear 2.3s forwards;
}

.matrix_line192 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.29s forwards;
          animation: line_in 0s linear 2.29s forwards;
}

.matrix_line193 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.28s forwards;
          animation: line_in 0s linear 2.28s forwards;
}

.matrix_line194 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.27s forwards;
          animation: line_in 0s linear 2.27s forwards;
}

.matrix_line195 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.26s forwards;
          animation: line_in 0s linear 2.26s forwards;
}

.matrix_line196 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.25s forwards;
          animation: line_in 0s linear 2.25s forwards;
}

.matrix_line197 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.24s forwards;
          animation: line_in 0s linear 2.24s forwards;
}

.matrix_line198 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.23s forwards;
          animation: line_in 0s linear 2.23s forwards;
}

.matrix_line199 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.22s forwards;
          animation: line_in 0s linear 2.22s forwards;
}

.matrix_line200 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #fa64fa;
  -webkit-animation: line_in 0s linear 2.3s forwards;
          animation: line_in 0s linear 2.3s forwards;
}

.matrix_line201 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #eb64eb;
  -webkit-animation: line_in 0s linear 2.29s forwards;
          animation: line_in 0s linear 2.29s forwards;
}

.matrix_line202 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #dc64dc;
  -webkit-animation: line_in 0s linear 2.28s forwards;
          animation: line_in 0s linear 2.28s forwards;
}

.matrix_line203 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #cd64cd;
  -webkit-animation: line_in 0s linear 2.27s forwards;
          animation: line_in 0s linear 2.27s forwards;
}

.matrix_line204 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #be64be;
  -webkit-animation: line_in 0s linear 2.26s forwards;
          animation: line_in 0s linear 2.26s forwards;
}

.matrix_line205 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #af64af;
  -webkit-animation: line_in 0s linear 2.25s forwards;
          animation: line_in 0s linear 2.25s forwards;
}

.matrix_line206 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #a064a0;
  -webkit-animation: line_in 0s linear 2.24s forwards;
          animation: line_in 0s linear 2.24s forwards;
}

.matrix_line207 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #916491;
  -webkit-animation: line_in 0s linear 2.23s forwards;
          animation: line_in 0s linear 2.23s forwards;
}

.matrix_line208 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #826482;
  -webkit-animation: line_in 0s linear 2.22s forwards;
          animation: line_in 0s linear 2.22s forwards;
}

.matrix_line209 {
  height: 10%;
  margin-top: 5px;
  opacity: 0;
  background-color: #736473;
  -webkit-animation: line_in 0s linear 2.21s forwards;
          animation: line_in 0s linear 2.21s forwards;
}

@-webkit-keyframes line_out {
  100% {
    opacity: 0;
  }
}

@keyframes line_out {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes line_in {
  100% {
    opacity: 1;
  }
}

@keyframes line_in {
  100% {
    opacity: 1;
  }
}

/* シャッター */
#shutter {
  display: none;
  z-index: 2;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.shutter_item {
  position: fixed;
  height: 50vh;
  width: 50vw;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.shutter_item:nth-child(2) {
  width: 60vw;
  top: calc(-60vw * 0.5);
  left: calc(50vw - 60vw * 0.87);
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.shutter_item:nth-child(3) {
  top: calc(-50vw * 0.87);
  left: calc(50vw - 50vw * 0.5);
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.shutter_item:nth-child(4) {
  top: calc(-50vw);
  left: calc(50vw);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.shutter_item:nth-child(5) {
  width: 60vw;
  top: calc(-60vw * 0.87);
  left: calc(50vw + 60vw * 0.5);
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.shutter_item:nth-child(6) {
  width: 60vw;
  top: calc(-60vw * 0.5);
  left: calc(50vw + 60vw * 0.87);
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.shutter_item:nth-child(7) {
  left: calc(50vw + 50vw);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.shutter_item:nth-child(8) {
  width: 60vw;
  top: calc(60vw * 0.5);
  left: calc(50vw + 60vw * 0.87);
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.shutter_item:nth-child(9) {
  top: calc(50vw * 0.87);
  left: calc(50vw + 50vw * 0.5);
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.shutter_item:nth-child(10) {
  top: calc(50vw);
  left: calc(50vw);
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.shutter_item:nth-child(11) {
  width: 60vw;
  top: calc(60vw * 0.87);
  left: calc(50vw - 60vw * 0.5);
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.shutter_item:nth-child(12) {
  width: 60vw;
  top: calc(60vw * 0.5);
  left: calc(50vw - 60vw * 0.87);
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.shutter_item div {
  height: 100%;
  width: 100%;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  background-color: darkgray;
  border: 1px solid white;
  -webkit-animation: shutter_anime 1.5s forwards;
          animation: shutter_anime 1.5s forwards;
}

@-webkit-keyframes shutter_anime {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes shutter_anime {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

/* ヘッダー */
.header_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.header_logo {
  margin: auto;
}

.log_img {
  width: 118px;
  height: auto;
}

.header_nav {
  height: 100%;
  width: 100%;
  padding-right: 5%;
}

.header_navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 40%;
}

.header_navItem {
  margin: auto;
  font-family: "Arial Black";
  font-size: 2rem;
}

.header_navItem a {
  color: white;
}

.header_navItem :hover {
  color: yellow;
}

.header_menu {
  margin: auto;
}

.menu-trigger {
  top: 17px;
  left: 17px;
}

.menu_box {
  z-index: -1;
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.menu_box_bg {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_box_bg div {
  height: 100%;
  width: 20%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #282846;
  -webkit-animation: menu_down 0.3s forwards;
          animation: menu_down 0.3s forwards;
}

.menu_box_bg div:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.menu_box_bg div:nth-child(2) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.menu_box_bg div:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.menu_box_bg div:nth-child(4) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.menu_box_bg div:nth-child(5) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

@-webkit-keyframes menu_down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  70% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-3.5%);
            transform: translateY(-3.5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu_down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  70% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-3.5%);
            transform: translateY(-3.5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menu_box_list {
  position: fixed;
  top: 0;
  width: 70%;
  height: 85%;
  padding: 15% 15% 0 15%;
  text-align: right;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: menu_list 0.5s 0.8s forwards;
          animation: menu_list 0.5s 0.8s forwards;
}

@-webkit-keyframes menu_list {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  70% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  80% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(1.5%);
            transform: translateX(1.5%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes menu_list {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  70% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  80% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(1.5%);
            transform: translateX(1.5%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menu_box_Item {
  display: inline-block;
  font-family: "Arial Black";
  font-size: 3.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu_box_Item a {
  color: white;
}

.menu_box_Item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu_box_Item a:hover {
  color: yellow;
}
/*# sourceMappingURL=illustration_style.css.map */