/*-------------------ハンバーガー-------------------*/
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #283c5f;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 84px;
  height: 84px;
  margin: -45px 0 0 -45px;
  border-radius: 50%;
  border: 4px solid transparent;
  transition: all .75s;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: active-menu-bar02 .8s forwards;
  animation: active-menu-bar02 .8s forwards;
}
@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}
.menu-trigger.active::after {
  -webkit-animation: circle .4s .25s forwards;
  animation: circle .4s .25s forwards;
}
@-webkit-keyframes circle {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0);
  }
  25% {
    border-color: transparent #283c5f transparent transparent;
  }
  50% {
    border-color: transparent #283c5f #283c5f transparent;
  }
  75% {
    border-color: transparent #283c5f #283c5f #283c5f;
  }
  100% {
    border-color: #283c5f;
    -webkit-transform: rotate(-680deg);
  }
}
@keyframes circle {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }
  25% {
    border-color: transparent #283c5f transparent transparent;
  }
  50% {
    border-color: transparent #283c5f #283c5f transparent;
  }
  75% {
    border-color: transparent #283c5f #283c5f #283c5f;
  }
  100% {
    border-color: #283c5f;
    transform: rotate(-680deg);
  }
}

/*----------ベース----------*/
body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

/*----------レイアウト----------*/
#ly_opening {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#home {
  max-width: 100vw;
  max-height: 100vh;
  display: none;
}

#ly_menu_box {
  z-index: 1;
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

#ly_header {
  height: 20vh;
  width: 90vw;
  padding: 0 5%;
}

#ly_background {
  width: 100vw;
  height: 100vh;
  background-position: center 0;
  background-size: cover;
}

#ly_text {
  height: 70vh;
  width: 70vw;
  padding: 0 15%;
}

#ly_controller {
  height: 10vh;
  width: 80vw;
  padding: 0 10%;
}

/*----------モジュール----------*/
/* opening */
.opening_text {
  height: 60%;
  width: 80%;
  padding: 20% 10%;
  color: white;
  text-align: center;
}
.opening_text h1 {
  font-size: 3em;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  transform: scale(0);
  animation: opening_scale 0.45s 1.05s forwards;
}
@keyframes opening_scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.line {
  height: 1px;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  animation: op_line 0.25s 2.25s forwards;
}
@keyframes op_line {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
    background-color: red;
  }
}

#op_first_anime {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
}
.op_first_right {
  height: 20%;
  width: 100%;
  background-color: black;
  animation: first_right 1s forwards;
}
.op_first_left {
  height: 20%;
  width: 100%;
  background-color: black;
  animation: first_left 1s forwards;
}
@keyframes first_right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes first_left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#op_last_anime {
  z-index: 2;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.op_last_down {
  height: 100%;
  width: 50%;
  background-color: black;
  transform: translateY(-100%);
  animation: opening_down 2s 3s forwards;
}
.op_last_up {
  height: 100%;
  width: 50%;
  background-color: white;
  transform: translateY(100%);
  animation: opening_up 2s 3s forwards;
}
@keyframes opening_down {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes opening_up {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* ヘッダー */
.header_contents {
  display: flex;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: header_scale 0.3s 0.7s forwards;
}
@keyframes header_scale {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.header_logo {
  margin: auto;
}
.log_img {
  width: 148px;
  height: auto;
  box-shadow: 0 0 10px lightgray;
  transition: all 0.5s;
}
.log_img:hover {
  transform: scale(1.15);
}
.header_nav {
  height: 100%;
  width: 70%;
}
.header_navList {
  display: flex;
  height: 100%;
  padding-left: 40%;
}
.header_navItem {
  margin: auto;
  font-family: "Arial Black";
  font-size: 2rem;
}
.header_navItem a{
  color: black;
}
.header_navItem :hover {
    color: lightgray;
}

#header_menu {
  z-index: 2;
  height: 84px;
  width: 84px;
  margin: auto 0 auto auto;
}
#header_menu::before {
  content: "";
  display: block;
  position: absolute;
  height: 84px;
  width: 84px;
  border-radius: 100%;
  background-color: #4aa9a4;
  transform: scale(0);
  transition: all 0.3s;
}
#header_menu:hover::before {
  transform: scale(1);
}
.menu-trigger{
  top: 17px;
  left: 17px;
}

.menu_box_bg {
  height: 100%;
  width: 100%;
  display: flex;
}
.menu_box_bg div {
  height: 100%;
  width: 20%;
  transform: translateY(-100%);
  background-color: rgba(40, 40, 70);
}
.menu_box_bg div:nth-child(1) {
  animation: menu_down 0.3s 0.25s forwards;
}
.menu_box_bg div:nth-child(2) {
  animation: menu_down 0.3s 0.35s forwards;
}
.menu_box_bg div:nth-child(3) {
  animation: menu_down 0.3s 0.45s forwards;
}
.menu_box_bg div:nth-child(4) {
  animation: menu_down 0.3s 0.55s forwards;
}
.menu_box_bg div:nth-child(5) {
  animation: menu_down 0.3s 0.65s forwards;
}
@keyframes menu_down {
  0% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-3.5%);
  }
  100% {
    transform: translateY(0);
  }
}
.menu_box_list {
  position: fixed;
  top: 0;
  width: 70%;
  height: 85%;
  padding: 15% 15% 0 15%;
  text-align: right;
  transform: translateX(100%);
  animation: menu_list 0.5s 0.8s forwards;
}
@keyframes menu_list {
  0% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(4%);
  }
  80% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(1.5%);
  }
  100% {
    transform: translateX(0);
  }
}
.menu_box_Item {
  display: inline-block;
  font-family: "Arial Black";
  font-size: 3.5rem;
  transition: all 0.3s;
}
.menu_box_Item a {
  color: white;
}
.menu_box_Item:hover{
  transform: scale(1.1);
}
.menu_box_Item a:hover{
  color: yellow;
}

/* テキスト */
.text_contents{
padding-top: 50%;
text-align: right;
}
.text_Item {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 2.5rem;
}

/* コントローラ */
.controller_contents {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  opacity: 0;
  animation: controller_scale 0.3s 0.7s forwards;
}
@keyframes controller_scale {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.copyright {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}
.arrow {
    margin:auto 0 auto auto;
    display: flex;
}
.arrow_prev {
  width: 40px;
  height: 40px;
  transform: scale(-1,1);
  background: url("images/next.png");
  transition: all 0.3s;
}
.arrow_next {
  width: 40px;
  height: 40px;
  background: url("images/next.png");
  transition: all 0.3s;
}
.arrow_prev:hover {
  transform: scale(-1.3,1.3);
}
.arrow_next:hover  {
  transform: scale(1.3);
}
