/*-------------------ハンバーガー-------------------*/
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: lightgray;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 84px;
  height: 84px;
  margin: -45px 0 0 -45px;
  border-radius: 50%;
  border: 4px solid transparent;
  transition: all .75s;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: active-menu-bar02 .8s forwards;
  animation: active-menu-bar02 .8s forwards;
}
@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}
.menu-trigger.active::after {
  -webkit-animation: circle .4s .25s forwards;
  animation: circle .4s .25s forwards;
}
@-webkit-keyframes circle {
  0% {
    border-color: transparent;
    -webkit-transform: rotate(0);
  }
  25% {
    border-color: transparent #ffffff transparent transparent;
  }
  50% {
    border-color: transparent #ffffff #ffffff transparent;
  }
  75% {
    border-color: transparent #ffffff #ffffff #ffffff;
  }
  100% {
    border-color: #ffffff;
    -webkit-transform: rotate(-680deg);
  }
}
@keyframes circle {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }
  25% {
    border-color: transparent #ffffff transparent transparent;
  }
  50% {
    border-color: transparent #ffffff #ffffff transparent;
  }
  75% {
    border-color: transparent #ffffff #ffffff #ffffff;
  }
  100% {
    border-color: #ffffff;
    transform: rotate(-680deg);
  }
}

/*----------ベース----------*/
body {
  margin: 0;
}

a {
  text-decoration: none;
}

/*----------レイアウト----------*/
#home {
  max-width: 100vw;
  max-height: 100vh;
}

#ly_opening {
  z-index: 3;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #faf7d9;
}

#ly_anime {
  z-index: 3;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.menu_box {
  z-index: 1;
  position: absolute;
  display: none;
  background-color: rgba(40, 40, 70, 100);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

#ly_background {
  width: 100vw;
  height: 100vh;
  background-position: center 0;
  background-size: cover;
}

#ly_header {
  height: 20%;
  width: 90%;
  padding: 0 5%;
}

#ly_text {
  height: 70%;
  width: 70%;
  padding: 0 15%;
}

#ly_controller {
  height: 10%;
  width: 80%;
  padding: 0 10%;
}

/*----------モジュール----------*/
/* opening */
#ly_opening {
  z-index: 2;
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.opening_text {
  height: 60%;
  width: 80%;
  padding: 20% 10%;
  color: white;
  text-align: center;
}
.opening_text h1 {
  font-size: 3em;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  animation: opening_scale 2.3s;
}

@keyframes opening_scale {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

#op_first_anime {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
}
.op_first_right {
  height: 20%;
  width: 100%;
  background-color: black;
  animation: first_right 1.5s forwards;
}
.op_first_left {
  height: 20%;
  width: 100%;
  background-color: black;
  animation: first_left 1.5s forwards;
}

@keyframes first_right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes first_left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#op_last_anime {
  z-index: 3;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.op_last_down {
  height: 100%;
  width: 50%;
  background-color: black;
  animation: opening_down 6s forwards;
}
.op_last_up {
  height: 100%;
  width: 50%;
  background-color: white;
  animation: opening_up 6s forwards;
}

@keyframes opening_down {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes opening_up {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* ヘッダー */
.header_contents {
    display: flex;
    height: 100%;
    width: 100%;
}
.header_logo {
  margin: auto;
}
.log_img {
  width: 148px;
  height: auto;
}
.header_nav {
  height: 100%;
  width: 100%;
  padding-right: 5%;
}
.header_navList {
  display: flex;
  height: 100%;
  padding-left: 40%;
}
.header_navItem {
  margin: auto;
  font-family: "Arial Black";
  font-size: 2rem;
}
.header_navItem a{
  color: black;
}
.header_navItem :hover {
    color: lightgray;
}

.header_menu{
    margin: auto;
}
.menu-trigger{
    z-index: 2;
}
.menu_box_list {
  width: 75%;
  height: 70%;
  padding: 15% 10% 0 10%;
  text-align: right;
}
.menu_box_Item {
  font-family: "Arial Black";
  font-size: 3.5rem;
}
.menu_box_Item a {
  color: white;
}
.menu_box_Item :hover {
    color: yellow;
}

/* テキスト */
.text_contents{
padding-top: 50%;
text-align: right;
}
.text_Item {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 2.5rem;
}

/* コントローラ */
.controller_contents {
  display: flex;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}
.copyright {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}
.toolbar {
    margin:auto 0 auto auto;
    display: flex;
}
#arrow_next {
    width: 40px;
    height: 40px;
    background: url("images/next.png");
}
#arrow_prev {
    width: 40px;
    height: 40px;
    transform: scale(-1,1);
    background: url("images/next.png");
}
#arrow_prev:hover, #arrow_next:hover {
    background-color: lightgray;
}
